In [2]:
import pandas as pd
from pymongo import MongoClient
import os

In [48]:
conn=MongoClient(f"mongodb+srv://{os.environ.get('USER_MONGO')}:{os.environ.get('MONGO_KEY')}@ufobrt.wyofdo3.mongodb.net/?retryWrites=true&w=majority")
conn.test

Database(MongoClient(host=['ac-9ypqmdn-shard-00-02.wyofdo3.mongodb.net:27017', 'ac-9ypqmdn-shard-00-01.wyofdo3.mongodb.net:27017', 'ac-9ypqmdn-shard-00-00.wyofdo3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-iov2ri-shard-0', tls=True), 'test')

In [49]:
db=conn.get_database('ufo_db')
collection=db.ufo_history
collection.count_documents({})

0

In [50]:
ufos_hist_read=pd.read_csv('ufos.csv')

In [51]:
ufos_hist_read.drop(['Unnamed: 0'],axis=1,inplace=True)
ufos_hist_read.rename({'Date / Time':'date_time'},axis=1,inplace=True)
ufos_hist_read.columns=ufos_hist_read.columns.str.lower()
ufos_hist_read['hoax']=0
ufos_hist_read.head(5)

,date_time,city,state,country,shape,duration,summary,posted,images,hoax
0,6/22/22 15:45,Hampden,MA,USA,Disk,2 minutes,I Saw a darkish grey disk going in and out of ...,6/22/22,NaN,0
1,6/22/22 10:40,Covington,LA,USA,Cigar,10 seconds,Lake Pontchartrain causeway,6/22/22,NaN,0
2,6/22/22 03:40,Coloma,MI,USA,Changing,5+ minutes,Bright light plasma esque possibly spinning?,6/22/22,NaN,0
3,6/22/22 02:08,Stamford,CT,USA,Circle,10 minutes,Alien being and massive space craft behind it,6/22/22,NaN,0
4,6/21/22 23:15,Arden,NC,USA,Disk,Up to one minute,I saw it last night dance across the sky,6/22/22,NaN,0

In [52]:
collection.insert_many(ufos_hist_read.to_dict('records'))